.header{
    background-color: black;
    position: absolute;
    z-index: 200;
    left: 0;
    right: 0;
    background: #000;
    height: 65px;
}

.page-body_layout-wrap{
	
}


.page-wrapper {
	background: #7f7e76;
	width:90%;
	margin-left:5%;
	margin-right:5%;
}

.layout-wrap {
	padding:5px;
	background: url("../img/body-background.jpg");
}

.layout-wrap a{
	margin-left:5%;
	margin-top: 2%;
}
.layout-wrap form {
	float:right;
	margin-right: 5%;
	margin-top:1%;
}

.nav{
	position: relative;
    margin: 0 auto;
    width: 100%;
    padding: 0 1.515151515%;
}
.nav-section {
	border-top: 100px solid transparent;
	border-bottom: 100px solid transparent;
	width:30%;
	height:30px;
	border:30px;
	padding-bottom: 30px;
    text-align: center;
}

#nav_1 {
	background: url("../img/icons/action-report-new.png");
	background-repeat:no-repeat;
	background-color: black;
	background-position: center;
	color:white;
	display:inline-block;
	margin-top: 5%;
	margin-left:5%;
}

#nav_2 {
	background: url("../img/icons/action-report-top.png");
	background-repeat:no-repeat;
	background-color: black;
	background-position: center;
	color:white;
	display:inline-block;
	margin-top: 5%;
	margin-left:5%;
}

#nav_3 {
	background: url("../img/icons/actions-help.png");
	background-repeat:no-repeat;
	background-color: black;
	background-position: center;
	color:white;
	display:inline-block;
	margin-top: 5%;
	margin-left:5%;
}

.tabs{
	position: absolute;
    top: 240px;
    left: 15px;
    right: 15px;
    bottom: 0;
    height: 100%;
}

.tab-headers li{
	float: left;
    width: 25%;
    height: 100px;
    line-height: 50px;
    text-align: center;
    font-size: 0.8rem;
	display:list-item;
	padding:10px;
	
	
}

.tabs ul{
	display:inline-flex;
	list-style:none;
}

.tab-headers{
	list-style:none;
	padding:0;
	width:100%;
	display:inline-flex;
}

a[role="tab"].active {
    color: inherit;
    background: #ebebeb;
}

a[role="tab"]{
    background:#525252;
    color: #fff;
    display: block;
    font-size: inherit;
    text-decoration: none;
}
.action-list {
	display:none;
}

.menu-caption {
	display:inline-block;
	width:100%;
	height: 5%;
	background-color: white;
	color:grey;
}

.arrow-down {
	color:black;
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid black;
	float:right;
}

.menu-caption:hover .action-list {
	visibility: visible;
	display:inline-block;
}