header{
    background-color: black;
    position: fixed;
    z-index: 200;
    left: 0;
    right: 0;
    height: 65px;
    width:100%;
}

body{
     background: url("../img/body-background.jpg") no-repeat center center fixed;
     background-size: cover;
     margin-top:0;
     margin: 0 auto;
     max-width:840px;
     min-width:800px;
}

.layout-wrap{
    position: absolute;
    left: 1.515151515%;
    right: 1.515151515%;
    max-width: 1320px;
    min-width: 800px;
    margin: 0 auto;
}


.search-box {
    position: absolute;
    top: 20px;
    right: 20%;
}

.logo{
    position: absolute;
    top: 20px;
    left: 20px;
    display: inline-block;
    width: 150px;
    height: 30px;
}

input{
    width: 210px;
    height: 30px;
    padding: 0 10px;
    outline: 0;
}


.page-body-layout-wrap{
    position: absolute;
    display:inline-block;
    height: 100%;
    overflow-y: scroll; 
    overflow-x: hidden;
    left: 1.515151515%;
    right: 1.515151515%;
    max-width: 1320px;
    min-width: 640px;
    margin: 0 auto;
    padding:30px;
    background-repeat:no-repeat;
    background: rgba(0,0,0,0.3);
  
}

.body-div {
    display:block;
    width:100%;
    height:auto;
    margin:0 auto;
    padding:0;

}

.notifications{
    position: relative;
    background: #ebebeb;
    width: 95%;
    height: 36px;
    padding: 0 1.515151515%;
    margin-bottom: 20px;
    line-height: 36px;
    font-size: 0.8rem;
    margin-top:5%;
}

#nav{
    position: relative;
    margin: 0 auto;
    width: 100%;
    height:150px;
    margin-bottom: 4%;
 }


.nav-section-wrapper {
    border-top: 20px solid transparent;
    background-color:black;
    list-style: none;
    width:31.515151515%;
    height:145px;
    background: black;
    text-align: center;
    float:left;
}


#nav_1 {
    background: url("../img/icons/action-report-new.png");
    background-color:black;
    background-repeat:no-repeat;
    background-position: 50% 60px;
    color:white;
    display:inline-block;
    
   
}

#nav_2 {
    background: url("../img/icons/action-report-top.png");
    background-color:black;
    background-repeat:no-repeat;
    background-position: 50% 60px;;
    color:white;
    display:inline-block;
    margin-left: 2.65625%;
  
}

#nav_3 {
    background: url("../img/icons/actions-help.png");
    background-color:black;
    background-repeat:no-repeat;
    background-position: 50% 60px;;
    color:white;
    display:inline-block;
    margin-left: 2.65625%;
   
}


.action-list {
    display:none;
    height: 36px;
    width:inherit;
    color:black;
    padding:0;
}

.action-list li {
    z-index: 100;
    list-style: none;
    padding:0;
    width: 100%;
    height: 36px;
    font-size: 0.8rem;
    border-top: 1px solid #b8b8b8;
    line-height: 36px;
    border-bottom: 1px solid #b8b8b8;
}

.action-list li > a {
    display:block;
    background: #ebebeb;
    text-decoration: none;
    color: inherit;
    padding: 2px;

}

.menu {
    z-index: 100;
    height: 36px;
    margin-top: 80px;
    background: #dedede;
    font-size: 0.8rem;
}

.menu-caption:hover .action-list {
    visibility: visible;
    display: block;
    transition:transform 2s;
}


.menu-caption p{
   
    margin:0;
}

.arrow-down {
    display:inline;
    float:right;
    margin-right: 3%;
   
    border-left: 10px solid black;
    border: 7px solid transparent;
    border-top-color: #000;
    transition:transform 500ms;
}


.menu:hover .arrow-down {
    transform: rotate(180deg);
   transform-origin:center 30%;
}

.menu:hover .action-list {
    visibility: visible;
    display:block;
}

.tab {
    background-color: #e6e6e6;
    display:block;
    width:inherit;
    height: 1000px;
    padding-bottom: 5%;
}

.tab-headers{
    list-style:none;
    padding:0;
    width:100%;
    display:inline-flex;
    margin:0;
}

.tabs{
    position: absolute;
    top: 240px;
    left: 15px;
    right: 15px;
    bottom: 0;
    height: 100%;
}



.tab-head{
    float: left;
    width: 25%;
    line-height: 50px;
    text-align: center;
    display:list-item;
    margin-left: 3%;
    margin-top: 2%;
}


.first-tab {
   float: left;
    width: 25%;
    line-height: 50px;
    text-align: center;
    display:list-item;
    margin-left: 0;
    margin-top: 2%;
}


a[role="tab"].active {
    color: inherit;
    background: #ebebeb;
}

a[role="tab"]{
    background:#525252;
    color: #fff;
    display: block;
    font-size: inherit;
    text-decoration: none;
}


.tabs ul{
    display:inline-flex;
    list-style:none;
}


.reports-wrapper{
    display:inline-block;
    position:absolute;
    background-color: white;
    height:auto;
    width:88%;
    margin-left: 4.5%;
    margin-top: -960px;
}

.reports-wrapper:after
{
  content: "";
  display: block;
  clear: both;
}

select {
    display:inline;
    padding: 5px 8px;
    width: 30%;
}

.select { 
    height: 40px;
    width: 95%;
    height:100%;
    padding-top: 20px;
    background-color: #e6e6e6;
    padding-left: 5%;
    margin-top: 1px;            
}

.navigation{
    display:inline;
    width:100%;
    height: auto;
    float:right;

}

.quick-reports-content-wrapper{
    display: list-item;
    height:auto;
    list-style: none;
}


.buttons{
    display:block;
    width:inherit;
    height: auto;
    margin-left: 80%;
}


.cancel{
    background: none;
    border: none;
}

.save{
    background-color: #525252;
    padding:7px 7px 10px 10px;
    border:none;
}

fieldset{
    width:90%;
    background-color: #e6e6e6;
    margin:2.5%;
    border:none;
}

.expend{
     background: url("../img/icons/expand.png");
     background-repeat: no-repeat;
     display: inline-block;
     width: 40px;
     float: right;
     height: 40px;

 }

 #expend :hover {
    background-color: white;
 }

.settings{
     background: url("../img/icons/settings.png");
     background-repeat: no-repeat;
     display: inline-block;
     width: 40px;
     float: right;
     height: 40px;
 }


 .settings :hover {
    background-color: white;
 }

.iframe-build {
    display: inline-block;
    width: 96.5%;
    height: 95%;
    background-color: #ebebeb;
    z-index:0;
}

.iframe-build-alone {
    display: inline-block;
    width: 96.5%;
    height: 95%;
    background-color: #ebebeb;
    z-index:0;
    margin-top: 40px;
}
